/* Add this to your CSS */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Styling for other sections (About, Contact, Services) */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* Add other styling properties as needed */
}


#mainNav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust this value based on your layout */
}


.nav-pills .nav-link.active {
    background-color: #007bff;
    color: #fff;
}
